@import "./attributes";
.example-page-wrapper{
  position: relative;
  $footer-height: 50px;
  $simulation-nav-height: 45px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;

  // align-items: center;
  // background-color: #dddddd;
  .menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $theme-color;
    background-color: white;
    box-shadow: -1px 2px 3px 2px rgba(0, 0, 0, .15);
    z-index: 3;

    // position: absolute;
    // right: 0;
    .simulation-options{
      display: flex;
      flex-direction: column;
      button.option-btn{
        position: relative;
        width: 80px;
        padding: 15px 10px;
        color: $theme-color;
        font-size: 13px;
        font-weight: 500;
        background-color: white;
        border-bottom: 1px dashed $theme-color;
        .technical-term{
          display: inline-block;
          font-size: 12px;
          font-weight: normal;
          transform: scale(0.8);
        }
        &.current-selection{
          color: white;
          background-color: $theme-color;
        }
      }
    }
    .new-tab-btn{
      bottom: 40px;
      position: relative;
      width: 75px;
      margin: 0 auto 10px auto;
      padding: 15px 10px;

      font-size: 13px;
      font-weight: 500;
      border-radius: $border-radius;
      background-color: #eee;
      //border-bottom: 1px dashed $theme-color;
      &:hover{
        background-color: $hover-color;
      }
      & a{
        color: $theme-color;
        font-weight: 600;
      }
    }
  }
  .example-container{
    margin-bottom: $footer-height;
    position: relative;
    height: 100%;
    flex-grow: 1;

    // margin: auto auto;
    // width: 70%;
    // height: auto;
    &.grayscale{
      filter: grayscale(1);
    }
    header.example-header{
      position: sticky;
      top: 0;
      min-height: 45px;
      display: flex;
      justify-content: space-between;
      color: white;
      background-color: black;
      z-index: 2;
      .example-title{
        padding: 10px;
        font-size: 14pt;
      }
      nav{
        height: 100%;
        font-size: 14pt;
        .example-menu{
          padding: 13px;
          height: 100%;
          display: inline-block;
          //color: white;
          cursor: pointer;
        }
      }
    }
    .example-body-container{
      //margin: 0 auto;
      padding: 20px 20px calc(#{$footer-height} * 2);
      //max-width: 1160px;
      width: 100%;
      position: relative;
      height: 100%;

      // height: 400px;
      p{
        margin-top: 1em;
        text-align: left;
        &.text-large{
          font-size: 18pt;
          .bold{
            font-size: 14pt;
            font-weight: bold;
          }
        }
        &.text-normal{
          font-size: 14pt;
        }
      }
      a{
        font-size: 14pt;
        text-decoration: underline;
      }
      button{
        display: block;
        margin-top: 1em;
        padding: 8px 10px;
        font-size: 14pt;
        border-radius: $border-radius;
        &.btn-normal{
          color: black;
          border: 1px black solid;
          background-color: white;
        }
        &.btn-accent{
          color: white;
          border: 1px white solid;
          background-color: black;
        }
      }
    }//End .example-body-container
    footer{
      position: sticky;
      bottom: 0;
      width: 100%;
      min-height: $footer-height;
      //margin-bottom: $footer-height;
      padding: 0.5em 0;
      color: white;
      font-size: 14pt;
      text-align: center;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
