.example-page-wrapper{
  position: relative;
  $footer-height: 50px;
  $simulation-nav-height: 35px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  .simulation-options{
    position: sticky;
    top: 0;
    width: 100%;
    height: $simulation-nav-height;
    display: flex;
    border-bottom: 1px black solid;
    background-color: white;
    color: black;
    z-index: 3;
    button{
      background-color: white;
      flex: 1;
    }
  }
  .example-container{
    // margin-bottom: calc( -1 * #{$footer-height});
    margin-bottom: $footer-height;
    position: relative;
    height: 100%;
    &.grayscale{
      filter: grayscale(1);
    }
    header.example-header{
      position: sticky;
      top: $simulation-nav-height;
      min-height: 45px;
      //margin-top: $simulation-nav-height;
      display: flex;
      justify-content: space-between;
      color: white;
      background-color: black;
      z-index: 2;
      .example-title{
        padding: 10px;
        font-size: 18pt;
      }
      nav{
        height: 100%;
        font-size: 14pt;
        .example-menu{
          padding: 13px;
          height: 100%;
          display: inline-block;
          color: white;
          &:hover{
            background-color: darkblue;
          }
        }
      }
    }
    .example-body-container{
      margin: 0 auto;
      padding: 20px 20px calc(#{$footer-height} * 2);
      max-width: 1160px;
      position: relative;
      // height: 100%;
      // height: 3000px;
      p{
        margin-top: 1em;
        text-align: left;
        &.text-18pt{
          font-size: 18pt;
        }
        &.text-14pt{
          font-size: 14pt;
        }
      }
      a{
        text-decoration: underline;
      }
    }
    footer{
      position: sticky;
      bottom: 50px;
      width: 100%;
      height: $footer-height;
      //margin-bottom: $footer-height;
      color: white;
      text-align: center;
      background-color: black;
    }
  }
}
