@import "./attributes";

.palette-wrapper{
  $palette-border: 3px;
  position: relative;
  height: 100%;
  .palette-content-wrapper{
    height: 100%;
    overflow: scroll;
  }
  .palette-nav{
    height: 35px;
    display: flex;
    button{
      color: $theme-color;
      background-color: white;
      border-bottom: 1px $theme-color solid;
      flex: 1;
    }
  }
  .palette-options-container{
    position: absolute;
    top: 0;
    width: 100%;
    //margin-bottom: 15px;
    padding: 15px calc( 10px + #{$palette-border}) 5px 20px;
    font-size: 13px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    //box-shadow: -1px 2px 3px 2px rgba(0, 0, 0, .25);
    z-index: 2;
    .sketch-picker{
      margin-right: 10px;
      padding: 0 !important;
      width: 190px !important;
      box-shadow: none !important;
    }
    .palette-function-settings{
      flex-grow: 1;
      // display: flex;
      flex-direction: column;
      .palette-options{
        position: relative;
        margin-bottom: 10px;
        display: flex;
        .option-name{
          margin-right: 8px;
          padding: 5px 10px;
          font-weight: 500;
          border: 1px transparent solid;
          border-radius: $border-radius;
          background-color: white;
          display: inline;
          cursor: pointer;
          .option-help-btn{
            position: absolute;
            top: 0;
            width: 15px;
            height: 15px;
            display: inline-block;
            font-size: 12px;
            text-align: center;
            font-weight: bold;
            line-height: 13px;
            border: $theme-color 1px solid;
            border-radius: 50%;
            transform: scale(.7) translateX(-2px);
          }
        }
        .option-intro{
          position: absolute;
          top: 1.7em;
          left: 8.2em;
          width: 300px;
          padding: 1em;
          color: white;
          font-weight: 500;
          line-height: 1.3em;
          border-radius: $border-radius;
          background: rgba(89, 89, 89, .9);
          z-index: 2;
          display: none;
        }
        .option-inputs{
          display: flex;
          align-items: center;
          position: relative;
          label.button-switch{
            //display: inline-block;
            margin-right: 5px;
            padding: 5px 10px;
            border: 1px $theme-color solid;
            border-radius: $border-radius;
            background-color: white;
            cursor: pointer;
            transition: $button-transition;
            &:hover{
              color: white;
              background-color: $hover-color;
            }
          }
          input.button-switch{
            display: none;
            &:checked+label{
              color: white;
              border-color: $theme-color;
              background-color: $theme-color;
            }
          }
          .toggle-text-label{
            padding: 0 5px;
          }
          .toggle-switch{
            $toggle-height: 30px;
            position: relative;
            //display: inline-block;
            width: 60px;
            height: $toggle-height;
            input {
              opacity: 0;
              width: 0;
              height: 0;
            }
            .slider{
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: $toggle-height;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
              &:before{
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 2px;
                border-radius: 50%;
                background-color: white;
                transform: translateX(-1px);
                -webkit-transition: .25s;
                transition: .25s;
              }
            }
            input:checked + .slider {
              background-color: $accent-color;
            }

            input:focus + .slider {
              //box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(27px);
              -ms-transform: translateX(27px);
              transform: translateX(27px);
            }
          }
        }
      }
    }//End .palette-function-settings
    .help{
      position: relative;
      .reset-btn{
        padding: 5px 10px;
        color: white;
        font-weight: bold;
        border-radius: $border-radius;
        background-color: gray;
        cursor: pointer;
        &.isOpen{
          border: 1px $theme-color solid;
          background-color: $theme-color;
        }
      }
    }
  }//End .palette-options-container
  .help-wrapper{
    position: absolute;
    right: 0;
    //bottom: 0;
    width: 600px;
    //max-width: 800px;
    //margin: -20px 0 25px 0;
    padding: 0 20px;

    z-index: 3;
    &.hidden{
      display: none;
    }
    .help-container{
      margin: 10px -15px 0;
      padding: 20px;
      border: $theme-color 1px solid;
      border-radius: $border-radius;
      background-color: white;
      .color-cube-intro-img{
        width: 60%;
        height: auto;
        max-width: 500px;
        margin: 0 10px 20px 0;
      }
    }
  }
  .floating-color-picker-container{
    z-index: 3;
    position: fixed;
    top: 20px;
    left: 10px;
    display: none; //Hidden by default.
    .sketch-picker{
      width: 170px !important;
      //transform: scale(.8);
    }
  }
  .palette{
    position: relative;
    //margin: 15px auto 20px;
    margin: 250px auto 20px;
    padding: 0px 20px 50px 10px;
    $wrapper-width: 120px;
    $color-width: 90px;
    $color-height: 60px;
    font-size: 14px;
    .foreground-number, .background-number{
      display: none;
      position: absolute;
      input.color-number-input{
        width: auto;
        height: 30px;
        font-size: 16px;
      }
    }
    .color-row{
      display: flex;
      align-items: center;
      width: fit-content;
      .result-wrapper, .color-placeholder{
        //width: $wrapper-width;
        margin: 3px 2px;
      }
      .color-placeholder{
        width: $wrapper-width;
        margin: 3px 2px;
      }
      .foreground-color, .background-color, .result-cube{
        width: $wrapper-width;
        //margin: 0 auto;
        margin: 3px 2px;
        padding: 5px calc((#{$wrapper-width} - #{$color-width}) / 2);
        border-radius: $border-radius;
        background-color: white;
        display: inline-block;
        position: relative;
        &.hidden{
          display: none !important;
        }
      }
      .color-placeholder{
        opacity: 0;
        //min-width: $color-width;
      }
      .foreground-color, .background-color{
        cursor: pointer;
        position: relative;
        &.selected-color{
          box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .25);
          transition: 0.2s ease-in-out;
        }
        .color-name{
          display: block;
          width: $color-width;
          height: 3em;
          padding: 5px 0;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          line-height: 1.1em;
          letter-spacing: -0.2px;
        }
        .main-color{
          position: relative;
          width: $color-width;
          height: $color-height;
          border: 1px $theme-color solid;
          border-radius: $border-radius;
          background-color: white;
        }
        .cvd-simulation-color-row{
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 30px;
          border-top: 1px $theme-color solid;
          display: flex;
          &.noCVD{
            display: none;
          }
          div{
            min-width: 33%;
            border-right: 1px $theme-color solid;
            flex: 1;
            display: inline-block;
            background-color: white;
            &:nth-of-type(1){
              border-radius: 0 0 0 $border-radius;
            }
            &:nth-of-type(3){
              border-right: none;
              border-radius: 0 0 $border-radius 0;
            }
          }
        }
        .color-code{
          display: block;
          width: 100%;
          height: 1.2em;
          text-align: center;
        }
      }
      .result-wrapper{
        display: inherit;
        //margin: calc(3em + 1px) 0 1em;
        margin: 0;
        .result-cube{
          margin-top: 2em;
          &.fail{
            .result-content::before{
              content: '';
              position: absolute;
              top: -7px;
              left: 60px;
              display: block;
              width: 1px;
              height: $wrapper-width;
              background-color: $theme-color;
              transform: rotate(315deg);
            }
          }
        }
        .result-content{
          $result-width: 80px;
          width: $result-width;
          height: $result-width;
          margin: 0 auto;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border: 1px $theme-color solid;
          border-radius: 50%;
          .contrast-ratio{
            font-size: 14px;
            font-weight: 600;
            text-align: center;
          }
          .wcag-check{
            font-size: 16px;
            text-align: center;
            text-transform: capitalize;
            .wcag-2a, .wcag-3a{
              &.pass::after, &.half::after, &.fail::after{
                position: absolute;
                bottom: 0;
                left: 1em;
              }
              &.pass::after{
                content: ('\2714');
              }
              &.half::after{
                content: ('\25b3');
              }
              &.fail::after{
                content: ('\2718');
              }
            }
          }
        }
      }
    }
  }
  .palette-border{
    position: absolute;
    top: 0;
    right: 0;
    width: $palette-border;
    height: 100%;
    border-right: 1px white solid;
    background-color: $theme-color;
    z-index: 3;
    .toggle-wrapper{
      position: relative;
      //overflow: hidden;
      height: 100%;
      cursor: pointer;
      .example-page-toggle{
        position: absolute;
        top: calc(50vh - 80px / 2);
        right: -27px;
        width: 80px;
        height: 25px;
        color: white;
        background-color: $theme-color;
        border-radius: 0 0 $border-radius $border-radius;
        transform: rotate(90deg);

      }
    }

  }
  #hidden-canvas-area{
    display: none;

  }
}
